.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  background-color: #f0f0f0; /* Soft grey background, can adjust for monochrome or pastel accents */
}

.title {
  font-size: 2rem; /* Adjusted for a modern look */
  margin-bottom: 20px;
  color: #333; /* Darker text for contrast */
}

.description {
  text-align: center;
  margin-bottom: 20px;
  color: #555; /* Slightly lighter text for the description */
}

.cards-container {
  display: grid;
  gap: 20px;
  width: 100%;
  max-width: 960px; /* Limiting max width for better layout */
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff; /* White background for the cards */
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.image {
  width: 80px; /* Adjusted width */
  height: auto; /* Adjust height to maintain aspect ratio */
  margin-bottom: 10px; /* Space between image and text */
  border-radius: 5px; /* Slightly rounded corners for the images */
}

.cardText {
  color: #333; /* Text color for better readability */
  text-align: center;
}

/* Media Queries */

/* Desktop and larger screens */
@media (min-width: 769px) {
  .cards-container {
    /* grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); */

    grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
    gap: 15px; /* Adjust grid gap for tablets */
  }

  .card {
    padding: 20px;
  }

  .image {
    width: 70px; /* Larger images for larger screens */
  }

  .cardText {
    font-size: 1rem;
  }
}

/* Tablets */
@media (max-width: 768px) {
  .cards-container {
    /* grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
    gap: 15px;  */
    grid-template-columns: repeat(7, 1fr); /* Still 4 components in a row */
    width: auto;
    gap: 5px; /* Adjust the gap for very small screens */
  }

  .card {
    padding: 2px;
  }

  .image {
    width: 50px;
  }

  .cardText {
    font-size: 0.9rem;
  }
}

/* Mobile devices */

@media (max-width: 480px) {
  .cards-container {
    grid-template-columns: repeat(6, 1fr); /* Still 4 components in a row */
    width: auto;
    gap: 5px; /* Adjust the gap for very small screens */
  }

  .card {
    padding: 2px;
  }

  .image {
    width: 40px; /* Smaller images for extra small screens */
  }

  .cardText {
    display: none;
  }
}
