.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 200px;
  background-color: rgba(211, 196, 85, 0.149);
  padding-left: 30px;
  padding-right: 30px;
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 500px;
  height: 200px;
  background-color: bisque;
}

.support {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 273px;
  height: 97px;
  color: white;
  font-size: 30px;
  background-color: #505050;
}
