.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  background-color: #fff; /* White background */
}

.title {
  font-size: 2.5rem; /* Adjusted font size for a balanced look */
  color: #333; /* Dark grey for the title */
  margin-bottom: 2rem; /* Space below the title */
  text-align: center;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(
    4,
    1fr
  ); /* 4 cards in a row for large screens */
  gap: 1rem; /* Space between cards */
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: #f9f9f9; /* Light grey background for the card */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
  transition: transform 0.3s ease; /* Smooth transform on hover */
}

.card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.image {
  width: 100%; /* Responsive width */
  max-width: 250px; /* Max width */
  height: auto; /* Auto height to maintain aspect ratio */
  border-radius: 5px; /* Rounded corners for the image */
}

.text {
  color: #333; /* Dark grey for text */
  font-size: 1rem; /* 16px font size */
  text-align: center;
  margin-top: 0.5rem; /* Space between image and text */
}

/* Media query for tablet devices */
@media (max-width: 1024px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr); /* 2 cards in a row for tablets */
  }
}

/* Media query for mobile devices */
@media (max-width: 600px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr); /* 2 cards in a row for mobiles */
    gap: 0.5rem; /* Less space between cards */
  }

  .title {
    font-size: 2rem; /* Smaller font size on mobiles */
  }

  .card {
    padding: 0.5rem; /* Less padding on mobile */
  }

  .text {
    font-size: 14px;
  }
}
