.main-container {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-right: 30px;
  background-color: rgba(13, 238, 77, 0.139);
}

.title {
  font-size: 50px;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 170px;
  height: 210px;
  border-radius: 10px;
  background-color: rgba(97, 230, 230, 0.303);
  margin: 10px;
  padding-left: 2.5px;
}

.image {
  margin-top: 10px;
  width: 140px;
  height: 140px;
  border-radius: 50%;
}

.partners-title {
  margin-top: 20px;
  font-size: 20px;
}
