.mainContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgba(237, 135, 255, 0.255);
  padding-left: 30px;
  padding-right: 30px;
}

.textContainer {
  position: relative;
  width: 400px;
  height: 400px;
  background-color: bisque;
}

.title {
  font-size: 50px;
}

.image {
  width: 300px;
  border-radius: 20px;
}

.cardWithLot {
  height: 400px;
}

.textAndBtnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  bottom: 80px;
  left: 50px;
  width: 200px;
  height: 70px;
  background-color: rgba(127, 255, 212, 0.456);
}

.buyBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 35px;
  background-color: rgba(0, 128, 0, 0.798);
  color: black;
  border-radius: 5px;
}
