.mainContainer {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-right: 30px;
  height: 700px;
  background-color: rgba(183, 158, 207, 0.342);
}

.title {
  font-size: 50px;
}

.numbersContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 50px;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 500px;
  background-color: rgba(0, 255, 255, 0.308);
}

.image {
  width: 250px;
  height: 250px;
}

.line {
  width: 80%;
  height: 3px;
  background-color: black;
}

.numbers {
  font-size: 80px;
  font-weight: bold;
}

.text {
  width: 80%;
  font-size: 20px;
}
