.mainContainer {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-right: 30px;
  background-color: rgba(238, 140, 13, 0.139);
}

.title {
  font-size: 50px;
}

.cardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  display: flex;
  align-items: center;
  width: 240px;
  height: 70px;
  border-radius: 10px;
  background-color: rgba(97, 230, 230, 0.303);
  margin: 10px;
  padding-left: 2.5px;
}

.image {
  width: 65px;
  border-radius: 50%;
  margin-right: 10px;
}

.name {
  font-size: 30px;
}

.insta {
  width: 20px;
  margin-right: 5px;
}

.nameAndLinkContainer {
  display: flex;
  align-items: center;
}
