.main-container {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-right: 30px;
  background-color: rgba(193, 13, 238, 0.139);
}

.title {
  font-size: 50px;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 180px;
  height: 325px;
  border-radius: 10px;
  background-color: rgba(97, 230, 230, 0.303);
  margin: 10px;
  padding-top: 10px;
}

.image {
  width: 180px;
}

.name {
  font-size: 20px;
}

.role {
  font-size: 15px;
}

.social-links {
  width: 100%;
  display: flex;
  justify-content: end;
  padding-right: 50px;
}

.links {
  width: 25px;
}
